includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 5
  paths:
    - app
    - config
    - database
    - routes
    - tests
  ignoreErrors:
    - '#Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql#'
    - '#Call to an undefined method PHPUnit\\Framework\\TestCase::get\(\)#'
  excludePaths:
    - 'vendor'
    - 'storage'
  