@import 'tailwindcss';
@plugin 'daisyui';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fontes */
    --font-heading: 'Space Grotesk', sans-serif;
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    /* Backgrounds */
    --color-background-primary: #080807;
    --color-background-secondary: #110F0E;
    --color-background-tertiary: #1C1917;
    --color-background-blur: rgba(11, 10, 9, 0.01);
    /* Content (Textos) */
    --color-content-primary: #FFFFFF;
    --color-content-secondary: #A3A3A3;
    --color-content-tertiary: #696663;
    --color-content-inverse: #0A0908;
    /* Accents (Cores de destaque) */
    --color-accent-orange: #ED712E;
    --color-accent-red: #EB4B5B;
    --color-accent-blue: #55A1F2;
    --color-accent-green: #44CB93;
    --color-accent-purple: #9D8AFE;
    /* Borders */
    --color-border-primary: #161412;
}